<%= flash[:notice] %>

<div class="container-fluid index-body text-center">
  <div class="row" >
    
    <div class="col-md-12">
      <div class="mx-auto">
        <h1>登録済みユーザー一覧</h1>
        <table class="table table-striped">
          <tr>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
          </tr>
        <% @accounts.each do |accounts| %>
          <tr>
            <td><h3>
              <%= link_to admin_account_path(accounts.id) do%>
                <%= accounts.name %>
              <% end %>
            </h3></td>
            <td><h3>
              <%= link_to admin_account_path(accounts.id) do%>
                <%= accounts.email %>
                <% end %>
           </h3></td>
          </tr>
        <% end %>
        <%= paginate @accounts %>
        </table>
      </div>
    </div>
    
  </div>
</div>