<%= flash[:notice] %>

<div class="container-fluid text-center" style="margin-top: 3rem; margin-bottom: 10rem;">
  <div class="row" >
    
    <div class="col-md-3"> 
      <div>
        <%= image_tag @account.get_profile_image(150,150) %>
        <p><big><%= @account.name %></big></p>
        <p>メールアドレス:<%= @account.email %></p>
        <p>自己紹介:<%= @account.introduction %></p>
      </div>
      <p>ユーザー退会処理</p>
      <%= form_with model: @account, url: admin_account_path, local: true do |f| %>
          <%= f.radio_button :is_deleted, :false, checked: true %>
          <%= f.label :is_deleted, "有効", value: false %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会", value: true %>
      <% end %>
    </div>

    <div class="col-md-9"> 
      <div class="mx-auto">
        <div class="row row-cols-3">
          <% @reviews.each do |reviews| %>
          <div>
            <%= link_to admin_review_path(reviews) do %>
              <%= image_tag reviews.get_beer_image(100,100) %>
              <h3><%= reviews.name %></h3>
            <% end %>
              <p><%= reviews.comment %></p>
          </div>
          <% end %>
          <%= paginate @reviews %>
        </div>
      </div>
    </div>

  </div>
</div>

