<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <span class="serch-brock">【検索】
          <%= f.text_field :content %></span>
    <span class="serch-brock"><%= f.select :model, options_for_select({ "User" => "user", "Review" => "review", "Tag" => "tag" }) %>
          <%= f.select :method, options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }) %>
          <%= f.submit '検索', class: "btn btn-outline-dark btn-sm" %></span>
  <% end %>
<% end %>