<%= render 'layouts/errors', obj: @account %>

<div class="container-fluid basic-form text-center">
  <div class="row" >
    <div class="mx-auto">
      
      <div class="card edit-card card.border-secondary text-bg-light">
        <div class="edit-card-body text-right">
          <%= form_with model: @account,url:account_path(@account), method: :patch do |f| %>
            <div class="field">
              <%= f.label :Profileimage,"画像" %>
              <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
            </div>
            <div class="field">
              <%= f.label :name,"ユーザー名" %>
              <%= f.text_field :name, autofocus: true, id: "inputName", size: "20" %>
            </div>
            <div class="field">
              <%= f.label :email,"メールアドレス" %>
              <%= f.email_field :email, autofocus: true,id: "inputE", size: "20" %>
            </div>
            <div class="field">
              <%= f.label :introduction,"自己紹介" %>
              <%= f.text_area :introduction, autofocus: true, id: "inputIntroduction", size: "20" %>
            </div>
            <div class="actions">
              <%= f.submit "更新", class: "btn btn-success btn-lg"%>
            </div>
          <% end %>
        </div>
      </div>
      
      <%= link_to "退会する", unsubscribe_path, class: "btn btn-secondary" %>
        
    </div>
  </div>
</div>