<%= flash[:notice] %>

<div class="container-fluid text-center" style="margin-top: 3rem; margin-bottom: 10rem;">
  <div class="row" >
    <div class="mx-auto">
      <h4><i class="fa-solid fa-user"></i>User page</h4>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-3"> 
      <h1><%= @account.name %></h1>
      <%= image_tag @account.get_profile_image(250,250) %>
      <p><%= @account.introduction %></p>
      <!-- ゲストユーザーはアカウントを編集できないように設定 -->
      <% if @account.name != "guestuser" %>
        <%= link_to edit_account_path(@account),class: "btn btn-outline-secondary btn-lg edit_account_#{@account.id}" do%>
          <i class="fa-solid fa-user-pen"></i>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-9"> 
      <div class="mx-auto">
        <div class="row row-cols-3">
          <% @reviews.each do |review| %>
            <div class="col mb-3">
              <div class="card text-bg-light" style="width: 20rem; height: 20rem;">
                <div class="card-img" style="padding-top: 0.5rem;"> 
                  <%= link_to review_path(review.id) do %>
                    <%= image_tag review.get_beer_image(200,200) %>
                  <% end %>
                </div>
                <div class="card-body">
                  <%= link_to review_path(review.id) do %>
                    <h5 class="card-title">【<%= review.name %>】</h5>
                  <% end %>
                  <p><small>◼️️<%= review.brewery %></small></p>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @reviews %>
        </div>
      </div>
    </div>
          
  </div>
</div>
