<div class="container">
  <div class="row">
    <div class="col-md-2">  
      <%= image_tag @account.get_profile_image(150,150) %>
      <span><big><%= @account.name %></big></span>
      <p>自己紹介:<%= @account.introduction %></p>
      <!-- ゲストユーザーはアカウントを編集できないように設定 -->
      <% if @account.name != "guestuser" %>
        <%= link_to '編集',edit_account_path(@account),class: "btn btn-outline-secondary  edit_account_#{@account.id}" %>
      <% end %>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="mx-auto">
          <% @reviews.each do |review| %>
            <%= link_to review_path(review.id) do %>
              <%= image_tag review.get_beer_image(180,180) %>
              <h5><%= review.name %></h5>
            <% end %>
            <p><small><%= review.brewery %></small></p>
          <% end %>
        </div>
      </div>
    </div>

