<div class="container-fluid index-body">
  
  <div class="col-md-12 index-title">
    <h4><i class="fa-solid fa-beer-mug-empty"></i> あなたが 乾杯！したレビュー</h4>
  </div>
  
    <div class="mx-auto text-center">
      <div class="row row-cols-3">
        <% @favorite_reviews.each do |review| %>
          <div class="col mb-3">
            <div class="card index-card text-bg-light">
              <div class="card-img basic-card-img">
                <%= link_to review_path(review.id) do %>
                  <%= image_tag review.get_beer_image(200,200) , class: 'basic-card-img' %>
                <% end %>
              </div>
              <div class="card-body">
                <%= link_to review_path(review.id) do %>
                  <h3 class="card-title">【<%= review.name %>】</h3>
                <% end %>
                <p>◼<%= review.brewery %></p>
                <div id="show-stars_<%= review.id %>"></div>
                <script>
                  var showRateElement = document.querySelector('#show-stars_<%= review.id %>');
                  showRateElement.innerHTML = '';
                  var showOpt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'review[star]',
                    score: "<%= review.star %>",
                    readOnly: true
                  };
                  window.raty(showRateElement, showOpt);
                </script>
                <p><small>
                  reviewd by
                  <%= link_to account_path(review.user.id) do%>
                    <%= review.user.name %>
                    <%= image_tag review.user.get_profile_image(50,50), class: 'profile-img'  %>
                  <% end %>
                </small></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

</div>