<%= render 'layouts/errors', obj: @review %>
<div class="container-fluid text-center" style="margin-top: 10rem; margin-bottom: 10rem;">
  <div class="row" >
    <div class="mx-auto">
      <h1><i class="fa-solid fa-file-signature"></i>Edit</h1>
      
      <div class="card card.border-secondary text-bg-light" style="width: 40rem; height: 35rem;">
        <div class="card-body text-right" style="padding-right: 6rem; background-color:#fbf4d7">
          <%= form_with model: @review, method: :patch do |f| %>
          <div class="field">
            <span>画像</span>
            <%= f.file_field :beer_image, accept: "image/*" %>
          </div>
          <div class="field">
            <span>ビール名</span>
            <%= f.text_area :name%>
          </div>
          <div class="field">
            <span>ブルワリー</span>
            <%= f.text_area :brewery%>
          </div>
          <div class="field">
            <span>ロケーション(飲んだ店/購入場所)</span>
            <%= f.text_area :location %>
          </div>
          <div class="field">
            <span>苦味</span>
            <%= f.number_field :hoppy, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <span>酸味</span>
            <%= f.number_field :acidity, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <span>甘味</span>
            <%= f.number_field :sweetness, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="form-group">
            <span>タグ</span>
            <%= f.text_field :tag_name, class: 'form-control review_tag_name' %>
          </div>
          <div id="stars"><label>評価</label></div>

            <script>
              let elem = document.querySelector('#stars');
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'review[star]' 
              };
              window.raty(elem, opt);
            </script>
          
          <div class="field">
          <span>コメント</span>
            <%= f.text_area :comment %>
          </div>
          <%= f.submit '更新', class: "btn btn-success btn-lg"%>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>