<%= flash[:notice] %>

  <div class="row justify-content-end" style="margin-right: 2rem;" >
    <div>
      <%= form_with url: reviews_path, method: :get do |f| %>
      <span><strong>今の気分は？：　</strong></span>
        <%= f.label :hoppy,"苦み" %>
        <%= f.range_field :hoppy, in: 0..5 , value: params[:hoppy].to_i %>
        <%= f.label :hoppy,"酸み" %>
        <%= f.range_field :acidity, in: 0..5 , value: params[:acidity].to_i %>
        <%= f.label :hoppy,"甘み" %>
        <%= f.range_field :sweetness, in: 0..5 , value: params[:sweetness].to_i %>
        <%= f.submit '検索', name: nil, class: "btn btn-outline-dark btn-sm"%>
      <% end %>
    </div>
  </div>

<div class="container-fluid " style="margin-top: 1rem;">
  <div class="col-md-12">
    <div style="margin-left: 1rem; margin-bottom: 2rem;">
      <h4><i class="fa-solid fa-landmark"></i>reviews</h4>
    </div>
      <div class="mx-auto text-center">
         <div class="row row-cols-3">
          <% @reviews.each do |review| %>
            <div class="col mb-3">
              <div class="card text-bg-light" style="width: 25rem; height: 30rem;">
                <div class="card-img" style="padding-top: 1rem;">
                  <%= link_to review_path(review.id) do %>
                    <%= image_tag review.get_beer_image(200,200) %>
                  <% end %>
                </div>
                <div class="card-body">
                  <%= link_to review_path(review.id) do %>
                    <h3>【<%= review.name %>】</h3>
                  <% end %>
                  <p>◼<%= review.brewery %></p>
                  <div id="show-stars_<%= review.id %>"></div>
                  <script>
                    var showRateElement = document.querySelector('#show-stars_<%= review.id %>');
                    showRateElement.innerHTML = '';
                    var showOpt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      scoreName: 'review[star]',
                      score: "<%= review.star %>",
                      readOnly: true
                    };
                    window.raty(showRateElement, showOpt);
                  </script>
                  <p><small>
                    reviewd by
                    <%= link_to account_path(review.user.id) do%>
                      <%= review.user.name %>
                      <%= image_tag review.user.get_profile_image(50,50) %>
                    <% end %>
                  </small></p>
                </div>
              </div>
            </div>
          <% end %>

          <%= paginate @reviews %>
        </div>
      </div>
    </div>
  </div>
</div>
