<div class="container-fluid basic-form text-center">
  <div class="row" >
    <div class="mx-auto">
      
      <h1><i class="fa-solid fa-file-signature"></i>New review</h1>

      <div class="card newreview-card card.border-secondary text-bg-light">
        <div class="signin-card-body text-right">
          <%= form_with model: @review do |f| %>
          <div class="field">
            <%= f.file_field :beer_image, accept: "image/*" %>
          </div>
          <div class="field">
            <%= f.label :name,"ビール名" %>
            <%= f.text_area :name%>
          </div>
          <div class="field">
            <%= f.label :brewery,"ブルワリー" %>
            <%= f.text_area :brewery%>
          </div>
          <div class="field">
            <%= f.label :location,"ロケーション" %>
            <%= f.text_area :location%>
          </div>
          <div class="field">
           <%= f.label :hoppy,"苦み" %>
            <%= f.number_field :hoppy, class: "taste", min: 0, max: 10 %>
          </div>
          <div class="field">
            <%= f.label :acidity,"酸み" %>
            <%= f.number_field :acidity, class: "taste", min: 0, max: 10 %>
          </div>
          <div class="field">
            <%= f.label :sweetness,"甘み" %>
            <%= f.number_field :sweetness, class: "taste", min: 0, max: 10 %>
          </div>
          <div class="form-group">
            <%= f.label :tag_name,"タグ" %>
            <%= f.text_field :tag_name, class: 'form-control-sm review_tag_name' %>
          </div>
          <div id="stars"><label>評価</label></div>
          <script>
            let elem = document.querySelector('#stars');
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[star]' 
            };
            window.raty(elem, opt);
          </script>
          <div class="field">
            <%= f.label :comment,"コメント" %>
            <%= f.text_area :comment %>
          </div>
          <%= f.submit '投稿', class: "btn btn-success btn-lg" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>