<div class="container-fluid text-center" style="margin-top: 10rem;">
  <div class="row" >
    <div class="mx-auto">
      <h1>新規レビュー</h1>

      <div class="card card.border-secondary text-bg-light" style="width: 40rem; height: 70rem;">
        <div class="card-body text-right" style="padding-right: 6rem; background-color:#fbf4d7">
          <%= form_with model: @review do |f| %>
          <div class="field">
            <span>画像</span>
              <%= f.file_field :beer_image, accept: "image/*" %>
          </div>
          <div class="field">
            <span>ビール名</span>
            <%= f.text_area :name, size: "40"%>
          </div>
          <div class="field">
            <span>ブルワリー</span>
            <%= f.text_area :brewery, size: "40"%>
          </div>
          <div class="field">
            <span>ロケーション</span>
            <%= f.text_area :location, size: "40"%>
          </div>
          <div class="field">
            <span>苦味</span>
            <%= f.number_field :hoppy, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <span>酸味</span>
            <%= f.number_field :acidity, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <span>甘味</span>
            <%= f.number_field :sweetness, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <span>旧タグ</span>
            <%= f.select :tag_id, Tag.all.map{|o| [o.name, o.id]}, { include_blank: "--選択してください--" } %>
          </div>
          
          
          <div class="field">
          <script src="jquery.min.js"></script>
          <select src="tag.js" style="width: 250px">
            <span>タグ</span>
              <!-- %= f.collection_select(:tag_id, Tag.all, :id, :name, {include_blank: "--選択してください--"}, {class:"form-control js-example-basic-multiple",include_hidden: false}) % -->
              <%= f.collection_select(:tag_id, Tag.all, :id, :name, {include_blank: "--選択してください--"}, {class:"form-control js-example-basic-multiple",multiple: true,include_hidden: false}) %>
          </select>
          </div>
          
          <form>
          <select  class="tag-select"  style="width: 250px">
                <option>シトラス</option>
                <option>オレンジ</option>
                <option>チョコ</option>
                <option>ホッピー</option>
                <option>バニラ</option>
</select>
</form>
          
          <div id="stars">
            <label>Rate</label>
          </div>
          <script>
            let elem = document.querySelector('#stars');
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[star]' 
            };
            window.raty(elem, opt);
          </script>
          
          <div class="field">
            <span>コメント</span>
            <%= f.text_area :comment %>
          </div>
          <%= f.submit '投稿', class: "btn btn-success btn-lg" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>