<div class="container-fluid text-center" style="margin-top: 10rem; margin-bottom: 10rem;">
  <div class="row" >
    <div class="mx-auto">
      
      <h1><i class="fa-solid fa-file-signature"></i>New review</h1>

      <div class="card card.border-secondary text-bg-light" style="width: 50rem; height: 50rem;">
        <div class="card-body text-right" style="padding-right: 6rem; background-color:#fbf4d7">
          <%= form_with model: @review do |f| %>
          <div class="field">
            <%= f.label :beer_image,"画像" %>
            <%= f.file_field :beer_image, accept: "image/*" %>
          </div>
          <div class="field">
            <%= f.label :name,"ビール名" %>
            <%= f.text_area :name, size: "40"%>
          </div>
          <div class="field">
            <%= f.label :brewery,"ブルワリー" %>
            <%= f.text_area :brewery, size: "40"%>
          </div>
          <div class="field">
            <%= f.label :location,"ロケーション(飲んだ店/購入場所)" %>
            <%= f.text_area :location, size: "40"%>
          </div>
          <div class="field">
           <%= f.label :hoppy,"苦み" %>
            <%= f.number_field :hoppy, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <%= f.label :acidity,"酸み" %>
            <%= f.number_field :acidity, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="field">
            <%= f.label :sweetness,"甘み" %>
            <%= f.number_field :sweetness, class: "taste", min: 0, max: 5 %>
          </div>
          <div class="form-group">
            <%= f.label :tag_name,"タグ" %>
            <%= f.text_field :tag_name, class: 'form-control review_tag_name' %>
          </div>
          <div id="stars">
            <label>Rate</label>
          </div>
          <script>
            let elem = document.querySelector('#stars');
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[star]' 
            };
            window.raty(elem, opt);
          </script>
          <div class="field">
            <%= f.label :comment,"コメント" %>
            <%= f.text_area :comment %>
          </div>
          <%= f.submit '投稿', class: "btn btn-success btn-lg" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>