<%= flash[:notice] %>

<div class="container-fluid text-center" style="margin-top: 3rem;">
  <div class="row" >

      <div class="mx-auto">
        
        <div class="card text-bg-light" style="width: 80rem; height: 30rem;">
          <div class="row no-gutters">    
            <div class="col-md-6 card-img" style="padding-top: 2rem;"> 
              <%= image_tag @review.get_beer_image(400,400) %>
            </div>
            <div class="card-body col-md-6 text-left"> 
              <h3 class="card-title">【<%= @review.name %>】</h3>
              <p>◼ブルワリー：<%= @review.brewery %></p>
              <p>◼購入場所　：<%= @review.location %></p>
              <p>◼コメント　：<%= @review.comment %></p>
              <p>◼投稿日　　：<%= @review.created_at.strftime('%Y/%m/%d') %></p>
              <p><small>  
                reviewd by
                <%= link_to account_path(@review.user.id) do%>
                  <%= @review.user.name %>
                  <%= image_tag @review.user.get_profile_image(50,50) %>
                <% end %>
              </small></p>
            </div>
          </div>
        </div>

        <div>
          <% if @review.user_id == current_user.id %>
          <%= link_to "Edit", edit_review_path(@review.id), class: "btn btn-success"%>
          <% end %>
          <% if @review.user_id == current_user.id %>
          <%= link_to "Destroy", review_path(@review.id), method: :delete, class: "btn btn-danger","data-confirm" => "本当に消しますか？" %>
          <% end %>
        </div>
        
      </div>
      
  </div>
</div>