<%= flash[:notice] %>

<div class="container-fluid show-body text-left">
  <div class="row">


    <div class="col-md-12">
      <div class="card border-light showreview-card text-bg-light">
        <div class="row no-gutters">

          <div class="col-md-4 showreview-card-img card-img">
            <%= image_tag @review.get_beer_image(400,400),  class: 'showreview-card-img' %>
            <p><big><%= render "public/favorites/btn", review: @review %></big></p>
          </div>
          
          <div class="show-card-body showreview-card-body col-md-4 text-left">
            <h3 class="show-card-title">【<%= @review.name %>】</h3>
            <div id="show-stars"></div>
              <script>
                var showRateElement = document.querySelector('#show-stars');
                showRateElement.innerHTML = '';
                var showOpt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'review[star]',
                  score: "<%= @review.star %>",
                  readOnly: true
                };
                window.raty(showRateElement, showOpt);
              </script>
            <canvas id="myChart" width="20" height="20"></canvas>
          </div>
            
          <div class="show-card-body showreview-card-body col-md-4 text-left">
            <p><strong>◼ブルワリー：</strong></p>
            <p class="space"><%= @review.brewery %></p>
            <p><strong>◼購入場所　：</strong></p>
            <p class="space"><%= @review.location %></p>
            <p><strong>◼コメント　：</strong></p>
            <p class="space"><%= @review.comment %></p>
            <p><strong>◻投稿日　　：</strong></p>
            <p class="space"><%= @review.created_at.strftime('%Y/%m/%d') %></p>
            <p><strong>◻コメント数：</strong></p>
            <p class="space"><%= @review.review_comments.count %></P>
            <p><strong>◻タグ　　　：</strong></p>
            <p class="space"><% @review.tags.each do |tag| %>
                              <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %>
                             <% end %></p>
            <p><small>
              reviewd by
              <%= link_to account_path(@review.user.id) do%>
                <%= @review.user.name %>
                <%= image_tag @review.user.get_profile_image(50,50) %>
              <% end %>
            </small></p>
            <p class="text-center">
              <% if @review.user_id == current_user.id %>
                <%= link_to "Edit", edit_review_path(@review.id), class: "btn btn-outline-success"%>
              <% end %>
              <% if @review.user_id == current_user.id %>
                <%= link_to "Destroy", review_path(@review.id), method: :delete, class: "btn btn-outline-danger","data-confirm" => "本当に消しますか？" %>
              <% end %>
            </p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-4 showreview-card-body">
      <%= render "public/review_comments/form", review: @review, comment: @review_comment %>
      <%= render "public/review_comments/index", review: @review %>
    </div>

  </div>
</div>