<div class="comment">
  <table>
    <tbody>
        <% review.review_comments.each do |comment| %>
        <tr>
          <th>
            <%= link_to account_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(50,50) %><br>
              <%= comment.user.name %>
            <% end %>
          </th>
          <td>
            <small><%= comment.comment %></small>
          </td>
        </tr>
        <th>
          <td class="d-md-flex justify-content-md-end">
            <p class="text-minimum"><%= comment.created_at.strftime('%Y/%m/%d') %></p>
          </td>
          <td class="d-md-flex justify-content-md-end">
            <% if comment.user == current_user %>
              <%= link_to "Destroy", review_review_comment_path(review, comment), method: :delete, class: "btn btn-outline-danger btn-sm pull-right"%>
            <% end %>
          </td>
        </th>
        <% end %>
    </tbody>
  </table>
</div>