<!DOCTYPE html>
<html>
  
  <head>
    <title>BeerReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1">
    <script src="https://kit.fontawesome.com/087774b1f3.js" crossorigin="anonymous"></script>
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
      

      
    </main>

    <%= render 'layouts/footer' %>
  </body>

</html>
